body {
    background-color: rgb(36,44,52);
    color: rgb(255,255,255,0.8);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10vh;
}

.a-links {
    position: absolute;
    transform: translate(-50%,-50%);
    height: 96vh;
    width: 67vw;
    top: 50%;
    left: 50%;
    margin-top: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.big-box {
    margin: 1vh;
    float: left;
    background-color: rgb(0,0,0,0.35);
    transition: 1s;
    border-radius: 1vh;
}

.fun {
    outline: 0.1vh solid #FFD700;
}

.fun:hover {
    color: #FFD700;
}

.game {
    outline: 0.1vh solid #7DF9FF;
}

.game:hover {
    color: #7DF9FF;
}

.util {
    outline: 0.1vh solid #9BCA3E;
}

.util:hover {
    color: #9BCA3E;
}

.title {
    text-align: center;
    margin: 0.5vh 0vh -1vh 0vh;
}

a {
    font-size: 2vh;
    text-decoration: none;
    color: rgb(255,255,255,0.8);
    text-shadow: 0.1vh 0.1vh 0.2vh black;
}

.big-box {
    height: 30vh;
    width: 30vh;
}

.big-box:hover {
    background-color: rgb(0,0,0,0.6);
}

.link-txt {
    color: rgb(255,255,255,1);
    padding: 0vh 2vh 2vh 2vh;
    text-align: center;
    text-transform: uppercase;
}

.big {
    font-size: 3vh;
}

.big-img {
    height: 10vh;
    margin: -2vh 10vh;
}

li {
    list-style-type: decimal-leading-zero;
    text-shadow: 0.1vh 0.1vh 0.2vh black;
    color: rgb(90,50,200);
    padding-bottom: 1vh;
}
